<!DOCTYPE html>
<html lang="en">
<%- include('../includes/header.ejs') %>


    <body>
        <%- include('../includes/nav.ejs') %>
            <%- include('../includes/hero.ejs') %>

                <!-- Begin List Posts
	================================================== -->
                <section class="recent-posts">
                    <div class="section-title">
                        <h2><span>All Blog Posts</span></h2>
                        <button>
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="card-columns listrecent">

                        <!-- begin post -->
                        <div class="card">
                            <a href="post.html">
                                <img class="img-fluid" src="/img/demopic/5.jpg" alt="">
                            </a>
                            <div class="card-block">
                                <h2 class="card-title"><a href="post.html">Autumn doesn't have to be nostalgic, you know?</a></h2>
                                <h4 class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</h4>
                                <div class="metafooter">
                                    <div class="wrapfooter">
                                        <button>
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        <button>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                        <button>
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end post -->


                    </div>
                </section>
                <!-- End List Posts
	================================================== -->

                <%- include('../includes/footer.ejs') %>
    </body>

</html>